#header-text-3 .bg {
    background-image: url('../images/bg-60.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}

#benefits-3col-counter .bg-wrap{
    background: #F4F5F6;
}
#desc-text-7 .bg {
    background-image: url('../images/bg-32.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.85;
}
#action-text-btn-2 .bg {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 50% auto;
    opacity:0.4;
}
#testimonial-carousel-2 .bg-wrap {
    background-color: #ded8d0;
}

#testimonial-carousel-2 .bg {
    background-image: url('../images/bg-58.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.1;
}
#panel-login .bg-wrap {
    background-color: rgba(255,255,255,0.95);
}
#cookie-text-btn-2 .bg {
    opacity: 0.5;
    background-size: 200px auto;
    background-repeat: Repeat;
    background-image: url(../images/bg-pattern-1-primary.png);
}
