#header-form .bg {
    background-image: url('../images/bg-82.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity:0.75;
}/*
#gallery-fluid-carousel-6 .bg-wrap {
    background-color: #f4f5f6;
}
*/
#cookie-text-btn-2 .bg {
    opacity: 0.5;
    background-size: 200px auto;
    background-repeat: Repeat;
    background-image: url(../images/bg-pattern-1-primary.png);
}

#benefits-3col-counter .bg-wrap{
    background: #F4F5F6;
}
#text-1col .bg {
    background-image: url('../images/bg-sign-primary.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.2;
}
#action-text-btn .bg {
    background-image: url('../images/bg-6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.1;
}
#gallery-3col-5 .bg-wrap {
    background-color: #f4f5f6;
}
#text-3col .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.1;
}
#desc-text-6 .bg {
    background-image: url('../images/bg-49.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:1;
}
