:root{
    --bg-color: #2f4c50;
    --white-cl: #ffffff;
    --text-cl: #777;
    --text-or: #fd9a0b;
    --text-dec: #dfb5b5;
    --text-acc: #e0f3c8;
}

.header-bg {
    background-color: var(--bg-color) !important;
}

.bg-default {
    background-color: var(--white-cl) !important;
    color: var(--text-cl) !important;
}

.wh-color {
    color: var(--white-cl) !important;
    user-select: none;
}

.wh-bg-color {
    background-color: var(--white-cl) !important;
}

.flag-icon {
    height: 16px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    margin-right: 1rem;
    font-size: 1.46rem;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-brand span {
    color: var(--text-or);
    font-weight: 500;
}
.navbar .nav-item > a:hover {
    color: var(--text-or);
}

a:hover {
    color: var(--text-or) !important;
    text-decoration: none !important;
}
.btn.btn-click {
    background-color: var(--text-or);
    color: var(--bg-color);
}

.status {
    padding: 6px 12px;
    max-width: 150px;
    display: flex;
    justify-content: center;
}
.status-wait {
    background-color: var(--text-or);
    color: var(--bg-color);
}
.status-decline {
    background-color: var(--text-dec);
    color: var(--bg-color);
}
.status-accept {
    background-color: var(--text-acc);
    color: var(--bg-color);
}

.btn-primary {
    background-color: var(--bg-color) !important;
    color: var(--white-cl);
    border: none;
}

/* Table */
th {
    padding: 12px 0;
}

td {
    padding: 4px 0;
}

.search-tag{
    font-size: 1em;
    min-width: 60px;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

#contact-inline-form .bg{
    background-image: url('../images/bg-43.jpg');
    background-position: center;
}

#header-search-2 .bg{
    background-image: url('../images/bg/bg-pattern-1-primary.png');
    background-position: center;
}

.rating {
    background-color: var(--bg-color);
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    color: var(--text-or);
    font-weight: 600;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #505d69;
    text-align: left;
    background-color: #f1f5f7 !important;
}