@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: normal;
  color: black;
  font-family: 'Roboto'; }

textarea:focus, input:focus {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.btn {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container-fluid {
  max-width: 1320px; }

.container-nav-bar {
  background: #2f4c50; }

.navbar-brand {
  font-size: 25px !important;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: white; }
  .navbar-brand:hover {
    color: white; }
  .navbar-brand span {
    color: #fd9a0b;
    font-weight: 500; }

.navbar-nav li {
  margin: 0 20px; }
  .navbar-nav li a {
    color: white; }
    .navbar-nav li a:hover {
      color: #fd9a0b; }
    .navbar-nav li a:focus {
      color: #fd9a0b; }

.dropdown-toggle::after {
  display: inline-block !important;
  margin-left: 5px !important;
  vertical-align: 2px !important; }

/* .form-control1 {
  border-radius: 0 !important;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important; } */

.btn-input {
  border-radius: 0 !important;
  border: 0 !important;
  outline: none !important;
  background: #fd9a0b !important;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  color: white !important; }

.btn-primary {
  background-image: none !important;
  background-color: #14343c !important;
  border-color: #14343c !important;
  padding: 5px 25px !important;
  border-radius: 30px !important; }
  .btn-primary:hover {
    background-color: rgba(26, 68, 78, 0.89) !important; }

.btn-secondary {
  background-image: none !important;
  background-color: #e4e4e4 !important;
  border-color: #e4e4e4 !important;
  padding: 5px 25px !important;
  border-radius: 30px !important; }
  .btn-secondary:hover {
    background-color: #f5f5f5 !important; }

.nav-btn {
  max-width: 30px; }

.btn-info {
  background-image: none !important;
  background-color: #1a7eed !important;
  border-color: #1a7eed !important; }

.btn-outline-primary {
  color: black !important;
  border-color: #e4e4e4 !important; }

.border-l {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important; }

.border-r {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important; }

.border-lr30 {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important; }

.border-lr20 {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important; }

.border-t20 {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important; }

.bttn-check {
  background-color: #e4e4e4 !important; }

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  background-color: #f5f5f5 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.card-text {
  line-height: 1.1 !important;
  font-size: 15px; }

.border-none {
  border: none !important; }

.background-none {
  background-color: transparent !important;
  background: none !important;
  background-image: none !important; }

.p0 {
  padding: 0 !important; }

.link-my {
  color: #fd9a0b !important; }
